*{
    font-size: 62.5%;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* inisialisasi warna dengan dikasih nama */
:root{
    --blue1: #03045e; 
    --blue2: #023e8a;
    --blue3: #0077b6;
    --blue4: #0096c7;
    --blue5: #00b4d8;
    --blue6: #48cae4;
    --blue7: #90e0ef;
    --blue8: #ade8f4;
    --blue9: #caf0f8;
}

/* HEADER TITLE */

header{
    margin: 2rem auto;
}

header h1{
    font-size: 3.2rem;
    text-align: center;
    font-weight: 900;
}

/* INTRODUCTION SECTION */

#introduction{
    background: linear-gradient(
        to right,
        var(--blue2),
        var(--blue5)
    );   
    padding: 3rem 10rem 3rem 3rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40rem;
}

#intro-left{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#intro-right{
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: end;
}

#intro-left-desc{
    font-size: 3rem;
}

a{
    text-decoration: none;
    color: white;
}

#intro-left-strong{
    font-size: 3.1rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;;
}

#pointer{
    position: absolute;
    width: 4rem;
    right: 3.6rem;
    bottom: -1.5rem;
}

#intro-left-strong:hover{
    text-shadow: 0 0 6px black;
    margin-left: 3px;
    scale: 1.02;
}

#turn-down-icon{
    width: 5rem;
}

/* FORM KALKULATOR BMI */

#container-calc-result{
    display: flex;
    margin: 15rem 0;
}

#form-kalkulator-bmi{
    width: 50%;
}

#form-bmi{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    position: relative;
}

.form-container{
    width: 75%;
    margin: 0 auto;
    display: flex;
}

/* GENDER INPUT */

#gender-input{
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.gender-input{
    width: 50%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
    gap: 1rem;
}

.gender-input:hover{
    scale: 1.01;
}

.gender-input input{
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

.form-container label{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.gender-input img{
    width: 10rem;
    transition: all 0.3s ease;
}

.colored-gender{
    position: absolute;
    opacity: 0;
    top: 0.8rem;
}

.gender-radio:checked + .colored-gender{
    scale: 1.04;
    opacity: 1;
}

/* AGE/HEIGHT/WEIGHT INPUT */

input[type="number"]::-webkit-inner-spin-button{
    height: 35px;
}

#age, #height, #weight{
    flex-direction: column;
    gap: 1rem;
}


.text-input{
    padding: 1rem;
    font-size: 1.8rem;
    width: 100%;
    height: 4.2rem;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 3px #000000;
    transition: all 0.3s ease;
}

.text-input:hover{
    scale: 1.01;
}

#submit-button{
    width: 50%;
    height: 4rem;
    font-size: 2rem;
    letter-spacing: 1px;
    color: white;
    background-color: var(--blue3);
    border-radius: 8px;
    text-transform: uppercase;
    border: none;
    box-shadow: 0 0 4px black;
    cursor: pointer;
    transition: all 0.3s ease;
}

#submit-button:hover{
    scale: 1.01;
}

/* result section */

#result{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 3.5rem;
    align-items: center;
}

#result h1{
    font-size: 5rem;
}

#result h2{
    font-size: 3rem;
}

#hint-mark{
    position: absolute;
    width: 3rem;
    right: 10rem;
    top: 1px;
}

#hint-mark:hover + #form-explanation{
    display: block;
}

#form-explanation{
    position: absolute;
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
    z-index: 2;
    font-size: 2rem;
    width: 30rem;
    right: -15rem;
    top: 4rem;
    padding: 0.5rem 1rem;
    text-align: justify;
    display: none;
    transition: all 0.3s ease;
}

#form-explanation ul{
    margin-left: 1.5rem;
    list-style: decimal;
    line-height: 2rem;
    font-size: 2rem;
}

#form-explanation p{
    margin: 0.5rem 0;
}

#container-penjelasan{
    width: 85%;
    margin: 1.5rem 0;
    display: none;
}

#init-penjelasan, #penjelasan-hasil{
    text-align: center;
    font-size: 2.1rem;
}

.penjelasan-hasil{
    font-size: 1.6rem;
    margin: 1rem 0;
}

#indicator{
    display: none;
    height: 20rem;
}